body {
  filter: invert(92%);
  background-color: #111 !important;
}

h1, h2, h3, h4, h5, h6, span, p, div, time, th, td {
  color: #333 !important;
}

a {
  color: #111 !important;
}

#page img,
.img-wrapper,
span[role="img"] {
  filter: invert(92%);
}
